:root {
    --white: #FFFFFF;
    --red: #EC2228;
    --dark-gray: #606161;
    --black: #171717;
}

* {
    box-sizing: border-box;
}

html {
    /* fonts and base changes go here */
    font-family: sans-serif;
}

.text-white {
    color: var(--white);
}

.text-red {
    color: var(--red);
}

.text-black {
    color: var(--black);
}

.text-dark-gray {
    color: var(--dark-gray);
}

.bg-white {
    background-color: var(--white);
}

.bg-red {
    background-color: var(--red);
}

.bg-dark-gray {
    background-color: var(--dark-gray);
}

.bg-black {
    background-color: var(--black);
}

.black-chatbox {
    width: 70%;
    max-width: 737px;
    min-width: 368px;
}

.container {
  width: 100%;
  max-width: 920px;
  overflow: hidden; 
  margin: auto;
}

.iff-nl-logos {
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.iff-nl-logos .x {
    margin: 0 2.5rem;
}
